.htaccess
/config.php
admin/config.php
!index.html

.o
*.pyc
.class
.log
.tmp

/bin
/out
/target
/node_modules
/packages

.venv/
.idea/
.pytest_cache/
.coverage
*.egg-info/

env/
htmlcov/
dist/
build/
__pycache__/
instance/
download/
image/data/
image/cache/
system/cache/
system/logs/
system/storage/

# vQmod log files
vqmod/logs/*
# vQmod cache files
vqmod/vqcache/*
vqmod/checked.cache
vqmod/mods.cache